<h3>Original note</h3>
<div class="originalarea">
    <textarea name="note" class="note" rows="15" style="overflow: hidden; word-wrap: break-word; resize: none; height: 400px; width: 400px;">
    <% orig %>
    </textarea>
</div>
